.gallery-card ion-img{
  max-height: 100vh;
  overflow: hidden;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;  
  //background-image: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}

.homelogo {
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
  	width: 70px;
  	height: 70px;
}