<ion-header>
  <ion-toolbar color='warning'>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-grid>		
		<ion-row>
 			<ion-col align-self-start>
				<ion-img src="assets/catslogo.png" class="homelogo"></ion-img>
			</ion-col> 
 			<ion-col align-self-center>
				    <ion-title>Contact Us</ion-title>
			</ion-col>
 			<ion-col>
				
			</ion-col>			
		</ion-row>
    </ion-grid>	
  </ion-toolbar>
</ion-header>

<ion-content padding>
	Please Contact us at info@theuscats.org for any communications.
</ion-content>
