.welcome-card ion-img{
  //max-height: 35vh;
  overflow: hidden;
  margin: auto;
    background-size: cover;
    //background-position-x: 50%;
    //background-position-y: 50%;
    width: 100%;
    //padding-bottom: 75%;  
  //background-image: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}

ion-card{
  ion-button{
    p{
      padding-top: 16px;
      padding-left: 5px;
    }
  }
}

ion-toolbar{
  height: 100px !important;
}

.home ion-toolbar {
	height: 225px;
	--background: url('../../assets/banner.png') center 0/100% 100% no-repeat; 
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
 }
 
ion-slide{
  width: 100% !important;
  height: auto;
}

ion-button {
  text-transform: none;
}

.member {
	width: 100%;
	text-transform: none;
}

.event-card {
        max-width: 100%;
        align-items: center;
		overflow: hidden;
  //background-image:  linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}

.event-card ion-img{
  max-height: 200vh;
  overflow: hidden;
  align-items: center;
  width: auto;
  margin: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}


.sponsor-card ion-img {
  //max-height: 15vh;
  overflow: hidden;
  align-items: center;
  width: auto;
  margin: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  //background-image: linear-gradient(-90deg, red, yellow);
}


.manabadi ion-img{
        margin: 10px auto;
        height: 15vh !important;
        width: auto !important;
        max-width: 85%;
        align-items: center;
}

ion-content {
    background-color: #fff;	
}


slide-img ion-img {
    max-width: 10;
    max-height: 10;
    overflow: hidden;
}

@media only screen and (min-width: 450px) {
  ion-toolbar {
    height: 200px !important;
  }
}