<ion-header class="home">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen background-color="warning">


	<ion-card color="warning" no-padding>
 			<ion-grid class="member">

				<ion-row justify-content-center>
					<ion-col text-center>
						<ion-button size="small" shape="round" color="danger" strong="true" href="https://squareup.com/store/theuscats"> 
							<ion-icon name="people"></ion-icon>
							<p>Become a Member </p>
						</ion-button> 
					</ion-col>
					<ion-col text-center>
						<ion-button size="small" shape="round" color="danger" strong="true" href="https://squareup.com/store/theuscats"> 
							<ion-icon name="person"></ion-icon>
							<p>Become a Sponsor </p>
						</ion-button> 					
					</ion-col>
				</ion-row>
			</ion-grid>	
	</ion-card>

    <ion-card class="welcome-card">
	    <ion-slides pager="true" [options]="slideOptsHome" #slideWithNav  (ionSlideDidChange)="SlideDidChange(sliderHome,slideWithNav)">
			<ion-slide *ngFor="let s of sliderHome.slidesItems">
				<ion-img src="../../assets/images/{{s.image}}"></ion-img>
			</ion-slide>
	    </ion-slides>
    </ion-card>

	<font color="red">
	<marquee color="dark" behavior="scroll" direction="left"><b>Mark your calendar for Upcoming event from CATS - Ugadi 2019 Celebrations!!!</b></marquee>	
	</font>

	
	
    <ion-card class="event-card">

		  <div padding class="event-info">
			<h4><b>CATS Ugadi Sambaralu 2019</b></h4>
			<ion-img src="../../assets/ugadi2019.jpg"></ion-img>
		  </div>
    </ion-card>


	<ion-card class="manabadi">
		<a href="http://manabadi.siliconandhra.org/"><ion-img src="../../assets/siliconandhra-manabadi-logo-2.png"></ion-img></a>	
	</ion-card>
	

    <ion-list lines="none">
      <ion-list-header>
		  <ion-button shape="round" color="warning"> 
			<ion-label><b>Gold Sponsors</b></ion-label>
		  </ion-button> 
      </ion-list-header>

		<ion-card class="sponsor-card">
		   <ion-slides pager="true" [options]="slideOptsGold" #slideWithNav  (ionSlideDidChange)="SlideDidChange(sliderGold,slideWithNav)">
				  <ion-slide *ngFor="let s of sliderGold.slidesItems">
					<ion-img src="../../assets/images/{{s.image}}"></ion-img>
				  </ion-slide>
		  </ion-slides>
		</ion-card>
   </ion-list>

    <ion-list lines="none">
      <ion-list-header>
		  <ion-button shape="round" color="medium"> 
			<ion-label><b>Silver Sponsors</b></ion-label>
		  </ion-button> 
      </ion-list-header>

		<ion-card class="sponsor-card">
		   <ion-slides pager="true" [options]="slideOptsSilver" #slideWithNav  (ionSlideDidChange)="SlideDidChange(sliderSilver,slideWithNav)">
				  <ion-slide *ngFor="let s of sliderSilver.slidesItems">
					<ion-img src="../../assets/images/{{s.image}}"></ion-img>
				  </ion-slide>
		  </ion-slides>
		</ion-card>
   </ion-list>

    <ion-list lines="none">
      <ion-list-header>
		  <ion-button shape="round" color="success"> 
			<ion-label><b>Bronze Sponsors</b></ion-label>
		  </ion-button> 
      </ion-list-header>

		<ion-card class="sponsor-card">
		   <ion-slides pager="true" [options]="slideOptsBronze" #slideWithNav  (ionSlideDidChange)="SlideDidChange(sliderBronze,slideWithNav)">
				  <ion-slide *ngFor="let s of sliderBronze.slidesItems">
					<ion-img src="../../assets/images/{{s.image}}"></ion-img>
				  </ion-slide>
		  </ion-slides>
		</ion-card>
   </ion-list>   

			<div align="center">
				<br/>
				<br/>
                <a href="http://www.andhraheadlines.com/" target="_blank"> <img width="100" src="../../assets/ahl_logo2.png" title="www.andhraheadlines.com" />         </a>
                <img width="100" height="69" src="../../assets/tv5.png" alt="" />
                <a href="http://www.radiozindagi.com/virginiaw" target="_blank"> <img width="120" height="69" alt="" src="../../assets/zindagi1.jpg" title="www.radiozindagi.com" /></a> 
                <img width="120" height="69" src="../../assets/Pilupu.jpg" alt="" /> 
                <img width="120" height="69" src="../../assets/antharyami.jpg" alt="" /> 
                <img width="120" height="69" src="../../assets/BollyFM.jpg" alt="" /> 
				<br/>
				<br/>
			</div>
   
    <div width="100%" height="4" colspan="3" style="color: #FFFFFF;background-color: #890208; text-align:center;">
        <b> <span>All copyrights reserved by CATS</span></b>
    </div>
</ion-content>
