.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
  background-image: linear-gradient(-90deg, red, yellow);
}

.homecontent {
  background-image: linear-gradient(-90deg, red, yellow);
}

.homelogo {
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
  	width: 70px;
  	height: 70px;
}

ion-button {
	background-color: goldenrod;
}

ion-icon {
    &.cats-logo {
      width: 50px;
      height: 50px;
    }
}

slide-img ion-img {
    max-width: 10;
    max-height: 10;
    overflow: hidden;
}



.round-button {
      width: 100px;
      height: 100px;


}
.round-button-circle {
		width: 130%;
		height: 130%;
		left: -15%;
		top: -15%;
		font-size: 33px;
		padding-top: 38px;
		-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		z-index: 2;
		border-size: 10px;
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}